h2
{
	font-family:"Courier";
}

body
{
	font-family:"Courier";
}

table.status {
	border-collapse:collapse;
	width:50%;
}

table.tasks
{
	border-collapse:collapse;
	width:100%;
	table-layout:fixed;
	word-wrap:break-word;
}

table, th, td
{
	border: 1px solid black;
	width:auto;
}

td.tiny
{
	font-size:50%;
}