h2
{
	font-family:"Courier";
}

body
{
	font-family:"Courier";
}

table.status {
	border-collapse:collapse;
	width:50%;
}

table.locationedit {
    border-collapse:collapse;
    width:75%;
}

table.tasks {
	border-collapse:collapse;
	width:100%;
	table-layout:fixed;
	word-wrap:break-word;
}

table, th, td
{
	border: 1px solid black;
	width:auto;
}

table.noborder, td.noborder
{
    border: 0px;
}

td.tiny
{
	font-size:50%;
}

.marquee {
    fill-opacity:0.2;
    stroke:#000;
    stroke-dasharray:2,4;
    vector-effect:non-scaling-stroke; /* not for FF */
}​

