 
<html>
<title>Sensezilla Web Interface</title>
<head>
<link href="/static/style.css" rel="stylesheet" type="text/css">

<script>
window.parent.frames['links'].document.location.reload();
</script>
</head>

<body>
<form id=devform method=POST action="/locationbuilder/showdev?id={{dev.ID}}&action=edit">
<table class=locationedit>
<col width=20%>
<col width=80%>
<tr><td>ID String</td><td><input type="text" style="width:100%" name="IDstr" value="{{dev.IDstr}}"></td></tr>
<tr><td>ID String Format</td><td>{{devdef.ID_string_format}}</td></tr>
<tr><td>User</td><td>
<select name=user>
<option value=0 {{"selected" if curuser==0 else ""}}>Undefined</option>
{% for user in userlist %}
<option value={{user.ID}} {{"selected" if curuser==user.ID else ""}}>{{user.value}}</option>
{% endfor %}
</select>
</td></tr>
<tr><td>Device Type<br><small>(requires update after changing)</small></td><td>
<select name=devdef>
{% for devfnm in devdeflistfiles %}
<option value={{devfnm}} {{ "selected" if devfnm==dev.device_type else "" }}>{{devdeflist[loop.index0]}}</option>
{% endfor %}
</select>

</td></tr>

<tr><td>Device Image</td><td><center>{{svgdata}}</center></td></tr>
<tr><td>Source<br><small>(requires update after changing)</small></td><td>
<select name=source>
{% for source in sourcelist %}
<option value={{source}} {{ "selected" if source==dev.source_name else ""}}>{{source}}</option>
{% endfor %}
</select>
</td></tr>
<tr><td>Feeds</td><td>
<table class=noborder width=100%>
<tr><th class=noborder>Physical Name</th><th class=noborder>Data Type</th><th>Load</th><th>{{ sourcedef.ID_string_format }}</th>
{% for feed in devdef.feeds %}
<tr><td class=noborder>{{feed}}</td>
<td class=noborder>
<select name=datatype{{loop.index0}}>
<option value=0 {{"selected" if curtypesels[loop.index0]==0 else""}}>Undefined</option>
{{datatypelists[loop.index0]}}
</select>
</td>
<td class=noborder>
<select name=plugload{{loop.index0}}>
<option value=0 {{"selected" if curloadsels[loop.index0]==0 else ""}}>Undefined</option>
{{loadsellists[loop.index0]}}
</select>
</td>
<td class=noborder><input type="text" style="width:500" name=feed{{loop.index0}} value="{{dev.source_ids[loop.index0]}}"></td></tr>
{% endfor %}
</table>
</td></tr>

<tr><td>Location</td><td>
<select name=location size=10>
{{ locoptions }}
</select><br>
<input type=checkbox name=noloc {{"checked" if noloc else ""}}>Not Assigned 
</td></tr>

<tr><td colspan=2 style="text-align:right"><input type=submit value=Update><input type=button value=Delete onClick="if(confirm('DELETE DEVICE??!?')) window.location='/locationbuilder/showdev?id={{dev.ID}}&action=delete'"></td></tr>
</table>
</form>
</body>
</html>