<html>
<title>Sensezilla Web Interface</title>
<head>
<link href="static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Sensezilla Server Status</h2>
<a href="index">Status</a> | <a href="tasks">Tasks</a> | <a href="/flows">Flows</a> 
<h3>Active Flows</h3>
<table>
<th>Name</th>
<th>Time From</th>
<th>Time To</th>
<th>Num Flows</th>

{% for flowrow in active_flows %}
<tr>
<td>{{ flowrow[0] }}</td>
<td>{{ flowrow[1] }}</td>
<td>{{ flowrow[2] }}</td>
<td>{{ flowrow[3] }}</td>
</tr>
{% endfor %}
</table>


<h3>Last 15 Completed Flows</h3>
<table>
<th>Name</th>
<th>Time From</th>
<th>Time To</th>
<th>Num Flows</th>

{% for flowrow in done_flows %}
<tr>
<td>{{ flowrow[0] }}</td>
<td>{{ flowrow[1] }}</td>
<td>{{ flowrow[2] }}</td>
<td>{{ flowrow[3] }}</td>
</tr>
{% endfor %}
</table>

<h3>Files in Progress</h3>
<table class=tasks>
<tr>
<th>id</th>
<th>Path</th>
<th>Source Name</th>
<th>Source ID</th>
<th>Time from</th>
<th>Time to</th>
<th>Steps</th>
<th>Status</th>
<th>Task ID</th>
</tr>

{% for file in file_cache_progress %}
<tr>
<td>{{ file.id }}</td>
<td class=tiny>{{ file.file_name }}</td>
<td>{{ file.source_name }}</td>
<td>{{ file.source_id }} </td>
<td>{{ file.time_from }} </td>
<td>{{ file.time_to }} </td>
<td>{{ file.steps }}</td>
<td>{{ file.statusstr }}</td>
<td>{{ file.idstr }}</td>
</tr>
{% endfor %}
</table>

<h3>Last 15 Files Completed/Failed</h3>
<table class=tasks>
<tr>
<th>id</th>
<th>Path</th>
<th>Source Name</th>
<th>Source ID</th>
<th>Time from</th>
<th>Time to</th>
<th>Steps</th>
<th>Status</th>
<th>Task ID</th>
</tr>

{% for file in file_cache_done %}
<tr>
<td>{{ file.id }}</td>
<td class=tiny>{% if file.statusstr == "VALID" %}<a href="javascript:window.open('showplot?id={{file.id}}','popUpWindow','height=400,width=1000,toolbar=no,menubar=no,status=yes,directories=no,location=no,left=10,top=10')">{{ file.file_name }}</a> {% else %}{{ file.file_name }}{% endif %}</td>
<td>{{ file.source_name }}</td>
<td>{{ file.source_id }} </td>
<td>{{ file.time_from }} </td>
<td>{{ file.time_to }} </td>
<td>{{ file.steps }}</td>
<td>{{ file.statusstr }}</td>
<td>{{ file.idstr }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
